[project]
	description = MongoDB - EMF Binding
[access "refs/*"]
	owner = group user/Bryan Hunt (BryanHunt)
[access "refs/for/refs/*"]
	read = group user/Bryan Hunt (BryanHunt)
	push = group user/Bryan Hunt (BryanHunt)
	label-Code-Review = -2..+2 group user/Bryan Hunt (BryanHunt)
	label-Verified = -1..+1 group user/Bryan Hunt (BryanHunt)
	rebase = group user/Bryan Hunt (BryanHunt)
	removeReviewer = group user/Bryan Hunt (BryanHunt)
	submit = group user/Bryan Hunt (BryanHunt)
[access "refs/heads/*"]
	read = group user/Bryan Hunt (BryanHunt)
	create = group user/Bryan Hunt (BryanHunt)
	push = +force group user/Bryan Hunt (BryanHunt)
	pushMerge = group user/Bryan Hunt (BryanHunt)
[access "refs/tags/*"]
	push = +force group user/Bryan Hunt (BryanHunt)
	pushTag = group user/Bryan Hunt (BryanHunt)
	pushSignedTag = group user/Bryan Hunt (BryanHunt)
