<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipselabs.org/mongo/emf/model"
            class="org.eclipselabs.emf.mongodb.model.ModelPackage"
            genModel="model/mongo.genmodel"/>
   </extension>

</plugin>
