<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipselabs.org/mongo/emf/ext"
            class="org.eclipselabs.mongo.emf.ext.ExtPackage"
            genModel="model/ext.genmodel"/>
   </extension>

</plugin>
