<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipselabs.org/mongo/emf/query/simple/junit"
            class="org.eclipselabs.mongoemf.query.simple.junit.model.ModelPackage"
            genModel="model/junit.genmodel"/>
   </extension>

</plugin>
