<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Mongo" sequenceNumber="129">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest.feature.feature.group" version="1.3.0.201306111021"/>
<unit id="org.junit.feature.feature.group" version="4.11.0.201306111021"/>
<unit id="org.mockito.feature.feature.group" version="1.9.5.201306111021"/>
<unit id="org.mongodb.feature.feature.group" version="2.9.3.201306111021"/>
<repository location="http://bryanhunt.github.com/3rd-party-libs"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.eunit.junit.utils.feature.feature.group" version="1.0.0.201307191143"/>
<repository location="http://bryanhunt.github.com/eUnit/releases/1.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.emongo.junit.feature.feature.group" version="1.0.0.201307282013"/>
<unit id="org.eclipselabs.emongo.runtime.feature.feature.group" version="1.0.0.201307282013"/>
<unit id="org.eclipselabs.emongo.sdk.feature.feature.group" version="1.0.0.201307282013"/>
<repository location="http://bryanhunt.github.com/eMongo/releases/1.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.emodeling.sdk.feature.feature.group" version="1.0.0.201307280847"/>
<repository location="http://bryanhunt.github.com/eModeling/releases/1.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.9.0.v20130604-2047"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.1.0.v20130612-0809"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
</locations>
</target>
